
<!-- endorse-box -->
<aside id="blog">
    <h3>Blog</h3>
        Read the latest:

        <ul>
            <li class="postlist">
              <a href="/update/2014/04/08/building-on-our-strengths.html">Building on our strengths</a> 
              <!-- <br> <span class="date"> Tuesday, Apr 08 </span> -->
            </li>
            <li class="postlist">
              <a href="/update/2014/03/11/a-conversation-worthy-of-Washington-County.html">A conversation worthy of Washington County</a> 
              <!-- <br> <span class="date"> Tuesday, Mar 11 </span> -->
            </li>
        </ul>
        <div class="read-more">
            <a href="/blog.html">Click for more...</a>
        </div>

</aside> <!-- end endorse -->
