<footer>

    <div class="box pure-g-r">

        <div id="contact" class="pure-u-2-5">
            <h3>Let's talk </h3>
            <p class="email">
                <a href="mailto:info@elizabethfurse.com">info@elizabethfurse.com</a>
            </p>
            <p class="phone">
                <span>(503) 568-1593</span>
            </p>
            <p class="address">
                Friends of Elizabeth Furse<br>
                159 SE 2nd Avenue<br>
                Hillsboro, OR<br>
                97123
            </p>
        </div>

    </div>

    <small id="copyright">
        Copyright &copy; 2014 Elizabeth Furse. Paid for and authorized by Friends of Elizabeth Furse.<br>Contributions to this campaign are not tax-deductible for federal income tax purposes.
    </small>
    <div class="clearfix">&nbsp;</div>

</footer>
