<footer>

    <div class="box pure-g-r">

        <div id="contact" class="pure-u-2-5">
            <h3>Let's talk </h3>
            <p class="email">
                <a href="mailto:info@elizabethfurse.com">info@elizabethfurse.com</a>
            </p>
            <p class="address">
                Friends of Elizabeth Furse
            </p>
        </div>

        <div class="pure-u-3-5">
            <h3>Blog</h3>
            <p><a href="/blog.html">Check out the latest posts.</a></p>
        </div>

    </div>

    <small id="copyright">
        Copyright &copy; 2014 Elizabeth Furse. Paid for and authorized by Friends of Elizabeth Furse.<br>Contributions to this campaign are not tax-deductible for federal income tax purposes.
    </small>
    <div class="clearfix">&nbsp;</div>

</footer>
