<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="Elizabeth Furse for Washington County Commission">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <!-- <meta name="viewport" content="width=800"> -->

    <!-- <link rel="stylesheet" href="css/normalize.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,100,100italic,300italic,400italic,500italic,500,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.3.0/pure-min.css">

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <link rel="stylesheet" href="{{ site.url }}/css/mystyle.css">


    <script src="{{ site.url }}/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
